<div id='contact-box' class="group" style="margin-top: 50px">
  <div class="span6 clear">
    <form action="/contact" method="POST" class="well">
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" class="span4" placeholder="Name">
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email" class="span4" placeholder="email@example.com">
      </div>
      <div>
        <label for="message">Message:</label>
        <textarea name="message" cols='30' rows="10"></textarea>
        <button type="submit" class="btn" value="Send">Submit</button>
      </div>
    </form>
  </div>
</div>