<style>
  nav {
    position: relative;
  }
</style>
<div class="inner contact">
  <div class="contact-form">
    <div class="mail-message-area">
      <div class="alert gray-bg mail-message">
        <strong>Thank You !</strong> Your email has been delivered.
      </div>
    </div>
  </div>
</div>